body{
  background-color: #7FFFD4
}
.frame1{
    font-size: 40px;
    font-family: "georgia", serif;
color:black;
border:5px solid red;
}

.frame2{
    font-size: 40px;
    font-family: "georgia", serif;
color:black;
border:5px solid red;
}
.frame3{
    font-size: 40px;
    font-family: "georgia", serif;
color:black;
border:5px solid red;
}
p1 {
    background-color:  #7FFFD4;
}

p {
    background-color:  #7FFFD4;
}
.para {
  max-width: 480px;
  width: 100%;
  height: auto;
        display: block;
        margin:20px auto;

}
.parab {
  max-width: 480px;
  width: 100%;
  height: auto;
        display: block;
        margin:20px auto;

}
