.headingg{
  font-family: "arial";
}
.aimg {
  	max-width: 480px;
  	width: 100%;
  	height: auto;
          display: block;
          margin:20px auto;


}
.bimg {
  max-width: 480px;
  width: 100%;
  height: auto;
        display: block;
        margin:20px auto;

}
.cimg {
  max-width: 480px;
  width: 100%;
  height: auto;
        display: block;
        margin:20px auto;

}
.dimg {
  max-width: 480px;
  width: 100%;
  height: auto;
        display: block;
        margin:20px auto;

}
