
<title>GardenCare</title>
<body style="background-color:#00FFFF;">
<h1 align="center" class="maintitle"><b>Garden monitoring system</b></h1>
<link a href="main_style.css" rel="stylesheet" type="text/css"/>
<div class="navbar">
  <a href="index.html">Home</a>

  <a href="imagesgallery.html">Gallery</a>
  <div class="dropdown">
    <button class="dropbtn">Data readings
      <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-content">
      <a href="frame_1.html">Moisture</a>
      <a href="frame_2.html">Temperature</a>
      <a href="frame_3.html">Humidity</a>
    </div>
  </div>
</div>
<h2 align="center" class="phrase"><i><b>"GardenCare, the smart garden monitoring system."</b></i></h2>

<img align="center" class="plant" src="pjimage.jpg" width="850" height="750"
</body>
